*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family:
    "Helvetica Neue",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}
button,
label {
  cursor: pointer;
}
input {
  font: inherit;
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* Task1  */

.box {
  position: relative;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background-color: tomato;

  transition: 150ms linear;
}
